.main{
    width: 100%;
    background-color: rgb(204, 204, 204);
}

.titleContainer{
    width: 90%;
    margin: auto;
}
E
.title{
    font-size: 30px;
    font-weight: 300;
}

.mainContainer{
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}

.label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 0px;
    font-weight: 600;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px

}


.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.button{
    cursor: pointer;
    font-size: 20px;
    
}